<template name="sideNav">
	<aside class="side-nav" role="navigation">
		<header class="header">
			<div style="background-color: #ffffff; height: 35px; align: center;">
	    <center><a href="http://avea.conselheiros7.nute.ufsc.br"><img src="http://avea.conselheiros7.nute.ufsc.br/images/7ed_logo_menu.1441287896.png" width= "70" height="70"></a></center>
	  		</div>
			<div style="position:absolute; top:70px;">
			{{> userStatus}}
			</div>
		</header>
		{{#if currentUser}}
			<div class="rooms-list" style="position:absolute; top:130px; background-color: #2f69b2;">
				<div class="wrapper">
					{{> starredRooms }}
					{{> channels }}
					{{> directMessages }}
					{{> privateGroups }}
					<h3>
						<a href="{{pathFor 'privateHistory'}}">{{_ "History"}}</a>
					</h3>
				</div>
			</div>
			<div class="flex-nav hidden">
				<section>
					{{> UI.dynamic template=flexTemplate data=flexData}}
				</section>
			</div>
			<span class="arrow bottom"></span>
		{{/if}}
		<footer class="footer">
				<h3 style="margin: 0px 0px 15px 0px;">
				<a href="/termos-e-condicoes-de-uso/" target="_blank" style="margin: 0px; line-height: 20px; text-align: center;">Termos e condições de uso</a>
				</h3>
				<a href="http://avea.conselheiros7.nute.ufsc.br/termos-e-condicoes-de-uso/index.html" class="logo" target="_blank"> <img src="/images/logo/logo.svg?v=3" style="max-width: 100px;"></a>
		</footer>
	</aside>
</template>
