<template name="loginForm">
	<center><div class="widthmax">
		<div class="inicio-home-esquerda">
			<p>
			Olá, seja bem-vindo(a)! <br><br><br>

			Aproveite este espaço para conversar com seus(suas) colegas e discutir sobre as temáticas tratadas ao longo da sua formação.
			</p>
		</div>
		<div class="inicio-home-direita">
			<form id="login-card" method='/'>
			{{#if waitActivation}}
				<header>
				
					<h2>{{{_ "Registration_Succeeded"}}}</h2>
					<p>{{{_ "Wait_activation_warning"}}}</p>
					<p>{{{_ "Please_wait_activation"}}}</p>

				</header>
				{{else}}
				<h2>
					<span class="room-title">{{title}}</span>
				</h2>
				{{ > loginServices }}
				
				{{/if}}
			<div class="back-to-login {{showBackToLoginLink}}">
				<a href="">{{_ 'Back_to_login'}}</a>
			</div>
		</form>
		</div>
	</div></center>
</template>
